<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<br>
<br>
<h1>

You must choose a level of difficulty before playing the game <br><br>

<input type="button" onclick="location.href='https://jims-tic-tac-toe.herokuapp.com/';" value="Click Here To Restart the Game" >


<script>
window.onload=getOrderDate('date');
</script></h1>