<% 


%>
<br>
<br>
<br>
<br>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
        margin-left:20%; 
    margin-right:20%
    color: black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: black;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
table, th, td {
    border: 1px solid black;
}
</style>

<% 
board_space = "<form method=""post"" action=""/play"">"
board_spacea = "<input type=""hidden"" name=""square1"" value= ""X"">" 
board_spaceb = "<input type=""submit"" value="">" 
 %>
<table>

<tr>
 <td> 
 <%= board_space %> 
 <%= board_spacea %>
 <%= board_spaceb %>

</td>
    
    <td><form method="post" action="/play">
<h2> <input type="hidden" name="square2" value= "X"> </h2>
 <input type="submit" value=""></td>
   
    <td><form method="post" action="/play">
<h2> <input type="hidden" name="square3" value= "X"> </h2>
 <input type="submit" value=""></td>

</tr>
  
<tr>
    <td><form method="post" action="/play">
<h2> <input type="hidden" name="square4" value= "X"> </h2>
 <input type="submit" value=""></td>
    
    <td><form method="post" action="/play">
<h2> <input type="hidden" name="square5" value= "X"> </h2>
 <input type="submit" value=""></td>
  
    <td><form method="post" action="/play">
<h2> <input type="hidden" name="square6" value= "X"> </h2>
 <input type="submit" value=""></td>
  
</tr>
  
<tr>
    <td><form method="post" action="/play">
<h2> <input type="hidden" name="square7" value= "X"> </h2>
 <input type="submit" value=""></td>
    
    <td> <form method="post" action="/play">
<h2> <input type="hidden" name="square8" value= "X"> </h2>
 <input type="submit" value=""></td>
    
    <td><form method="post" action="/play">
<h2> <input type="hidden" name="square9" value= "X"> </h2>
 <input type="submit" value=""></td>

</tr>
</table>

<html>
<body>



<script>
function goBack() {
    window.history.back();
}
</script>


</body>
</html> 